[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important
}

input.content {
  width: 100%;
  word-wrap: break-word;
  padding: 5px;
  border: none;
  border-left: transparent solid 2px;
  border-right: transparent solid 2px;
  outline: none;
  resize: none;
  background-color: transparent;
  vertical-align: top;
}

.r {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
